* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img, video, picture, svg {
    display: block;
    max-width: 100%;
  }
  
  body {
    min-height: 100vh;
    font-family: "Speedee-regular", arial, sans-serif;
  }
  
  @font-face {
    font-family: "Speedee-regular";
    src: url("../../fonts/Speedee-Regular.woff");
  }
  @font-face {
    font-family: "Speedee-bold";
    src: url("../../fonts/Speedee-bold.woff");
  }
  html {
    font-size: 10px;
  }
  
  body {
    color: #000;
    line-height: 1.6;
    font-size: 1.6rem;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  h1 {
    font-size: clamp(2rem, 6vw, 5rem);
    margin-bottom: 2.5rem;
  }
  
  p {
    font-size: clamp(1.4rem, 6vw, 1.6rem);
    margin-bottom: 1.3rem;
  }
  
  .container {
    max-width: 98rem;
    padding: 0 1.6rem;
    margin: 0 auto;
  }
  
  .bg-primary {
    background-color: #ffbc0d;
  }
  
  .text-primary {
    color: #ffbc0d;
  }
  
  .bg-accent {
    background-color: #db0007;
  }
  
  .text-accent {
    color: #db0007;
  }
  
  .bg-neutral {
    background-color: #fff;
  }
  
  .text-neutral {
    color: #fff;
  }
  
  .bg-dark {
    background-color: #000;
  }
  
  .text-dark {
    color: #000;
  }
  
  .flex {
    display: flex;
  }
  
  .grid {
    display: grid;
  }
  
  .block {
    display: block;
  }
  
  .inline {
    display: inline;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  .mx-1 {
    margin: 0 1rem;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .py-1 {
    padding: 1rem 0;
  }
  
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .mx-2 {
    margin: 0 2rem;
  }
  
  .p-2 {
    padding: 2rem;
  }
  
  .py-2 {
    padding: 2rem 0;
  }
  
  .mb-3 {
    margin-bottom: 3rem;
  }
  
  .mx-3 {
    margin: 0 3rem;
  }
  
  .p-3 {
    padding: 3rem;
  }
  
  .py-3 {
    padding: 3rem 0;
  }
  
  .mb-4 {
    margin-bottom: 4rem;
  }
  
  .mx-4 {
    margin: 0 4rem;
  }
  
  .p-4 {
    padding: 4rem;
  }
  
  .py-4 {
    padding: 4rem 0;
  }
  
  .mb-5 {
    margin-bottom: 5rem;
  }
  
  .mx-5 {
    margin: 0 5rem;
  }
  
  .p-5 {
    padding: 5rem;
  }
  
  .py-5 {
    padding: 5rem 0;
  }
  
  .mb-6 {
    margin-bottom: 6rem;
  }
  
  .mx-6 {
    margin: 0 6rem;
  }
  
  .p-6 {
    padding: 6rem;
  }
  
  .py-6 {
    padding: 6rem 0;
  }
  
  .mb-7 {
    margin-bottom: 7rem;
  }
  
  .mx-7 {
    margin: 0 7rem;
  }
  
  .p-7 {
    padding: 7rem;
  }
  
  .py-7 {
    padding: 7rem 0;
  }
  
  .mb-8 {
    margin-bottom: 8rem;
  }
  
  .mx-8 {
    margin: 0 8rem;
  }
  
  .p-8 {
    padding: 8rem;
  }
  
  .py-8 {
    padding: 8rem 0;
  }
  
  .mb-9 {
    margin-bottom: 9rem;
  }
  
  .mx-9 {
    margin: 0 9rem;
  }
  
  .p-9 {
    padding: 9rem;
  }
  
  .py-9 {
    padding: 9rem 0;
  }
  
  .mb-10 {
    margin-bottom: 10rem;
  }
  
  .mx-10 {
    margin: 0 10rem;
  }
  
  .p-10 {
    padding: 10rem;
  }
  
  .py-10 {
    padding: 10rem 0;
  }
  
  .w-full {
    width: 100%;
  }
  
  .w-1-2 {
    width: 50%;
  }
  
  .w-1-4 {
    width: 25%;
  }
  
  .w-1-3 {
    width: 33.3%;
  }
  
  .header__wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .header__wrapper .toggle__button span {
    display: block;
    width: 3.5rem;
    height: 0.5rem;
    background: #db0007;
    margin-bottom: 0.5rem;
    transition: 0.5s ease;
  }
  .header__wrapper .toggle__button.cross {
    opacity: 0;
  }
  .header .dropdown.show {
    opacity: 1;
    visibility: visible;
  }
  .header .dropdown {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999999;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
  }
  .header .dropdown button {
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #ffbc0d;
    padding: 1rem;
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .header .dropdown .nav {
    margin-bottom: 2rem;
  }
  .header .dropdown .nav a {
    color: #db0007;
  }
  .header .dropdown .nav ul {
    list-style: none;
  }
  .header .dropdown .nav__menu {
    margin-left: 5rem;
  }
  .header .dropdown .nav__menu li {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  .header .dropdown .nav__menu li .nav__submenu {
    margin-left: 3rem;
  }
  .header .dropdown .nav__menu li .nav__submenu li {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .header .dropdown__footer {
    margin-top: 4rem;
    text-align: center;
  }
  .header .dropdown__footer img {
    margin: 0 auto 2rem;
  }
  .header .dropdown__footer a {
    font-size: 1.2rem;
  }
  
  .footer {
    padding: 5rem 0;
  }
  @media (min-width: 42rem) {
    .footer__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  .footer__actions {
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media (min-width: 42rem) {
    .footer__actions {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }
  }
  .footer__actions ul {
    list-style: none;
  }
  .footer__actions ul li {
    font-size: 1.2rem;
  }
  .footer__actions ul li img {
    width: 80%;
    margin-bottom: 0.5rem;
  }
  .footer__actions img {
    justify-self: center;
  }
  .footer__connect ul {
    list-style: none;
    gap: 3rem;
  }
  .footer__connect ul i {
    font-size: 2.5rem;
    color: #db0007;
  }
  
  .tns-outer {
    position: relative;
  }
  .tns-outer .tns-nav {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
  .tns-outer .tns-nav button {
    margin: 0 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: none;
  }
  .tns-outer .tns-nav button.tns-nav-active {
    background-color: #db0007;
  }

  .tns-liveregion {
    display: none;
  }
  
  .banner img {
    height: 20rem;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  @media (min-width: 42rem) {
    .banner img {
      height: 60rem;
    }
  }
  
  .cards {
    padding: 10rem 0;
  }
  .cards__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 1rem;
  }
  @media (min-width: 42rem) {
    .cards__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      grid-row-gap: 6rem;
    }
  }
  .cards a {
    justify-self: center;
  }
  .cards .card {
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
  }
  @media (min-width: 42rem) {
    .cards .card {
      width: 262px;
      height: 262px;
    }
  }
  .cards .card img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 1/1;
    transition: ease-in-out 0.5s;
  }
  .cards .card h4 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
  }
  .cards .card:hover img {
    transform: scale(1.2);
  }
  
  .banner {
    min-height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .banner h1 {
    font-size: clamp(3rem, 10vw, 7rem);
    font-weight: bolder;
  }
  
  .banner--food {
    background-image: url("../../images/food/food-banner-sm.jpg");
  }
  @media (min-width: 42rem) {
    .banner--food {
      background-image: url("../../images/food/food-banner.jpg");
    }
  }
  
  .category {
    padding: 5rem 0;
  }
  .category__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  @media (min-width: 42rem) {
    .category__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      grid-row-gap: 6rem;
    }
  }
  .category__wrapper a {
    justify-self: center;
  }
  .category__card {
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    width: 120px;
    height: 120px;
  }
  @media (min-width: 42rem) {
    .category__card {
      width: 262px;
      height: 262px;
    }
  }
  .category__card:hover img {
    transform: scale(1.2);
  }
  .category__card img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.5s ease;
  }
  .category__card h5 {
    position: absolute;
    top: unset;
    left: 50%;
    bottom: 0;
    right: unset;
    transform: translateX(-50%);
    text-wrap: nowrap;
    font-size: clamp(1.2rem, 2vw, 2rem);
  }
  
  .quality {
    padding: 5rem 0;
  }
  .quality__header {
    text-align: center;
  }
  .quality__header h3 {
    font-size: clamp(2.5rem, 10vw, 6rem);
  }
  .quality__header h5 {
    font-size: clamp(1.5rem, 10vw, 2rem);
  }
  .quality__wrapper {
    background-image: url("../images/pattern.svg");
    background-repeat: repeat;
    background-size: 12rem;
  }
  @media (min-width: 42rem) {
    .quality__cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  .quality__card {
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  @media (min-width: 42rem) {
    .quality__card {
      flex-basis: 45%;
    }
  }
  .quality__card h4 {
    position: absolute;
    top: 5rem;
    left: unset;
    bottom: unset;
    right: 5rem;
    font-size: 2rem;
  }
  .quality__card p {
    margin-bottom: 0;
  }
  @media (min-width: 42rem) {
    .quality__card p {
      font-size: 1.4rem;
      min-height: 20rem;
    }
  }
  
  .banner--family {
    background-image: url("../../images/family-activities/family-banner-sm.jpeg");
  }
  @media (min-width: 42rem) {
    .banner--family {
      background-image: url("../../images/family-activities/family-banner.jpeg");
    }
  }
  
  .family {
    padding: 5rem 0;
  }
  .family__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    gap: 6rem;
  }
  @media (min-width: 42rem) {
    .family__activities {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4rem;
    }
  }
  @media (min-width: 42rem) {
    .family__activity {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 5rem;
    }
  }
  @media (min-width: 42rem) {
    .family__image {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      object-fit: cover;
    }
  }
  .family__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem;
  }
  /* .family__details {
    display: flex;
    flex-direction: column;
  } */
  .family__details div {
    flex-grow: 1;
  }
  .family__details h2 {
    font-size: clamp(2.6rem, 6vw, 4rem);
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .family__details p {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .family__details a.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.2rem;
    padding: 2rem 6rem 1rem 2rem;
    justify-self: center;
    display: block;
    margin-bottom: 5rem;
    text-transform: uppercase;
    align-self: center;
    width: 100%;
    height: 5rem;
    line-height: 1.3;
    padding: 14px 28px;
    font-size: clamp(2.5rem, 4vw, 2.5rem);
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    margin-top: 3rem;
    background-color: #ffbc0d;
  }
  @media (min-width: 42rem) {
    .family__details a.btn {
      width: 362px;
      height: 60px;
      font-weight: bold;
    }
  }

  
.banner--nextgen {
  background-image: url("../../images/nextgen/banner-nextgen-sm.jpg");
}
@media (min-width: 42rem) {
  .banner--nextgen {
    background-image: url("../../images/nextgen/banner-nextgen.jpg");
  }
}

.nextgen {
  margin-bottom: 60px;
}
.nextgen h3 {
  font-size: clamp(3rem, 6vw, 5rem);
  margin-top: 5rem;

}
.nextgen h4 {
  margin-top: 0;
  font-size: clamp(2rem, 6vw, 3rem);
  margin-bottom: 1rem;
}
.nextgen iframe {
  aspect-ratio: 16/9;
}
.nextgen strong {
  font-size: 15px;
}
@media (min-width: 576px) {
  .nextgen strong {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .nextgen strong {
    font-size: 18px;
  }
}
.nextgen p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  box-sizing: border-box;
  font-size: 15px;
}
@media (min-width: 576px) {
  .nextgen p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .nextgen p {
    font-size: 18px;
  }
}

  /* CAREEERS PAGE */
  
.banner__careers {
  background-image: url("../../images/careers/careers_banner.png");
  height: auto;
  position: relative;
  overflow: hidden;
}
@media (min-width: 42rem) {
  .banner__careers {
    background-image: url("../../images/careers/careers_banner_sm.png");
  }
}

.career__experience {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .career__experience {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .career__experience {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .career__experience {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .career__experience {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .career__experience {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.career__experience h2 {
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  color: inherit;
  font-weight: 700;
}

.mcdo__video {
  height: auto;
  padding: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  -webkit-box-flex: 0;
  position: relative;
  width: 100%;
  visibility: inherit;
}
.mcdo__video__player {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}
.mcdo__video__player iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.mcdo__video__player::before {
  padding-top: 56.25%;
  display: block;
  content: "";
  box-sizing: border-box;
}

.block__description {
  color: #202020;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .block__description {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
.block__description .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .block__description .container {
    max-width: 540px;
  }
}
@media (min-width: 576px) {
  .block__description .container {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .block__description .container {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .block__description .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .block__description .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .block__description .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .block__description .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .block__description .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.block__description__description__wrapper {
  visibility: inherit;
}
@media (min-width: 576px) {
  .block__description__description__wrapper {
    font-size: 16px;
  }
}
.block__description__description__wrapper p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

.careers__form .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  visibility: inherit;
}
@media (min-width: 576px) {
  .careers__form .container {
    max-width: 540px;
  }
}
@media (min-width: 576px) {
  .careers__form .container {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .careers__form .container {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .careers__form .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .careers__form .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .careers__form .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .careers__form .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .careers__form .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .careers__form .container {
    width: 960px;
  }
}
.careers__form .job__description {
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 100%;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

.filter__options {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  position: relative;
  width: 100%;
}
@media (min-width: 576px) {
  .filter__options {
    -webkit-box-flex: 0;
    max-width: 100%;
  }
}

.filter__options::after {
  display: block;
  clear: both;
  content: "";
  box-sizing: border-box;
  visibility: inherit;
}

.form__filter {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  visibility: inherit;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.form__filter__wrapper {
  padding: 0;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  visibility: inherit;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 768px) {
  .form__filter__wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.form__filter__option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  top: 0;
  left: 0;
  height: 100%;
  position: relative;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.form__component {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .form__component {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.form__control {
  width: 100%;
  margin-bottom: 0;
  float: none;
  display: inline-block;
  margin-left: 0;
  padding: 0;
  border: none;
  height: auto;
  vertical-align: middle;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  min-height: 58px;
  background-color: #eaeaea;
  border-radius: 28px;
  box-sizing: border-box;
  visibility: inherit;
}
.form__control button {
  height: 100%;
  cursor: pointer;
  position: relative;
  width: 100%;
  z-index: 1;
  text-align: right;
  white-space: nowrap;
  -webkit-box-flex: 1;
  border-radius: 28px;
  border: 0;
  box-shadow: none;
  background-color: #eaeaea;
  padding: 17px 40px 10px 30px;
  font-size: 20px;
  color: #555;
  display: flex;
  align-items: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  box-sizing: border-box;
  visibility: inherit;
  font-weight: 700;
}
.form__action {
  padding-top: 40px;
  margin-bottom: 0;
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  visibility: inherit;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Speedee-Regular";
}
@media (min-width: 576px) {
  .form__action {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
}
@media (min-width: 768px) {
  .form__action {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.form__action button {
  cursor: pointer;
  padding-top: 15px;
  color: #fff;
  font-size: 25px;
  background-color: #db0007;
  -webkit-border-radius: 15px;
  text-transform: uppercase;
  font-weight: 400;
  min-height: 68px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  width: 100%;
  overflow: visible;
  visibility: inherit;
  font-weight: 700;
}
@media (min-width: 992px) {
  .form__action button {
    -webkit-box-flex: 0;
    max-width: 33.333333%;
  }
}

.filter__caret {
  position: absolute;
  right: 15px;
  top: 0;
  box-sizing: border-box;
}
.filter__caret::before {
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  font-size: 30px;
  color: #db0007;
  font-weight: 900;
  transition: all 0.3s ease;
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
}
.filter .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.filter__contents {
  visibility: inherit;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.filter__contents__item {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #ffbc0d;
  -webkit-border-radius: 30px;
  animation-name: fadeIn;
  box-sizing: border-box;
  visibility: inherit;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 1200px) {
  .filter__contents__item {
    background-color: #FFBC0D;
  }
}
.filter__contents__item__wrapper {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  visibility: inherit;
}
.filter__contents__details {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  visibility: inherit;
}
@media (min-width: 576px) {
  .filter__contents__details {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
.filter__contents__title {
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: inherit;
  box-sizing: border-box;
  visibility: inherit;
  margin-bottom: 15px;
}
.filter__contents__title a {
  color: #000;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease;
  background-color: transparent;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  visibility: inherit;
}
.filter__contents__button {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .filter__contents__button {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.filter__contents__button__item {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  color: #000;
}
.filter__contents__button__item a {
  color: #000;
  font-size: 24px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  text-transform: uppercase;
  font-weight: 700;
  min-height: 68px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  -webkit-box-align: center;
  padding-top: 20px;
  -webkit-box-pack: center;
  text-align: center;
  display: block;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease;
  cursor: pointer;
}

.filter__job__details {
  font-size: 17px;
  box-sizing: border-box;
  visibility: inherit;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.filter__job__details__location {
  font-size: 17px;
  box-sizing: border-box;
  visibility: inherit;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.filter__job__details__location p {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
  box-sizing: border-box;
  font-size: 17px;
}
.filter__job__details__years {
  font-size: 17px;
}
.filter__job__details__years p {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
  box-sizing: border-box;
  font-size: 17px;
}
.filter__job__details__description {
  box-sizing: border-box;
  font-size: 17px;
}
.filter__job__details__description p {
  margin-bottom: 0;
  line-height: 1.5;
  margin-top: 0;
  box-sizing: border-box;
  font-size: 17px;
}

.pagination {
  float: right;
  margin: 0;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "Speedee-Regular";
}

.page__prev__link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  display: inline-block;
  border-radius: 15px;
  padding: 0;
  border: 0;
  margin: 0 15px;
  position: relative;
  line-height: 1.25;
  box-sizing: border-box;
}
.page__prev__link i {
  transform: scaleX(-1);
  font-family: "Font Awesome 6 Free";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}
.page__prev__link .fa-play:before {
  content: "\f04b";
  box-sizing: border-box;
  font-family: "Font Awesome 6 Free";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}
.page__item.active .page__link {
  z-index: 1;
  border-color: #007bff;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  color: #333;
  text-decoration: underline;
  display: inline-block;
  border-radius: 15px;
  padding: 0;
  margin: 0 15px;
  position: relative;
  line-height: 1.25;
  box-sizing: border-box;
}
.page__item {
  list-style: none;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
}
.page__item a {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  border: 0;
  margin: 0 15px;
  color: #333;
  position: relative;
  line-height: 1.25;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease;
  box-sizing: border-box;
  font-family: "Speedee-Regular";
}
.page__next {
  box-sizing: border-box;
  list-style: none;
}
.page__item:last-child .page__link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0;
  display: inline-block;
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  border: 0;
  margin: 0 15px;
  color: #333;
  position: relative;
  line-height: 1.25;
  text-decoration: none;
  outline: none;
  transition: all 0.1s ease;
  box-sizing: border-box;
}
.page__item:last-child .page__link i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  cursor: pointer;
  color: #333;
}
.page__item:last-child .page__link .fa-play:before {
  content: "\f04b";
  box-sizing: border-box;
  font-family: "Font Awesome 6 Free";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}

.notifications {
  width: 300px;
  top: 0px;
  left: calc(50% - 150px);
  display: block;
  position: fixed;
  z-index: 5000;
  box-sizing: border-box;
  visibility: inherit;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "Speedee-Regular";
}
.notifications span {
  box-sizing: border-box;
  visibility: inherit;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "Speedee-Regular";
}

.employer {
  display: block;
  box-sizing: border-box;
  visibility: inherit;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 60px;
}
.employer .container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .employer .container {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .employer .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .employer .container {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .employer .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .employer .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .employer .container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 1200px) {
  .employer .container {
    max-width: 1140px;
  }
}
.employer__wrapper {
  margin-left: auto;
  margin-right: auto;
  float: none;
  -webkit-box-flex: 0;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .employer__wrapper {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .employer__wrapper {
    font-size: 18px;
  }
}
.employer__wrapper p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .employer__wrapper p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .employer__wrapper p {
    font-size: 18px;
  }
}
.employer__wrapper table {
  margin: 0px auto;
  text-align: center;
  border-collapse: collapse;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .employer__wrapper table {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .employer__wrapper table {
    font-size: 18px;
  }
}
.employer__wrapper table tbody {
  text-align: center;
}
.employer__wrapper table tr td a {
  text-decoration: none;
  outline: none;
  color: #333;
  transition: all 0.1s ease;
  background-color: transparent;
  box-sizing: border-box;
}
.employer__wrapper table tr td img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}/*# sourceMappingURL=main.min.css.map */